.carousel-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.carousel-productos {
  margin-bottom: 2rem;
  overflow: hidden;
  width: 100%;   
  transition: transform 0.3s cubic-bezier(0.19, 1, 0.22, 1); 
}
.carousel-productos-inner {
  display: flex;
  transition: transform 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}
.button{
  font-size: 2rem;
  height: 2.5rem;
  background: #07043a;
  color: white;
}
.carousel-productos-item {
  flex: 0 0 50%;
  box-sizing: border-box;
  display: grid;
  place-content: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.carousel-productos-item img{
  filter: brightness(1.1);
  mix-blend-mode: multiply;
  width: 80%;
  height: auto;
}
.carousel-productos-item p{
  font-size: .8rem;
  margin-top: .5rem;
}
.carousel-productos-item p strong{
  color: #ff7009;
}
.icon-add-cart{
  color: white;
  background: #ff7009;
  font-size: 3rem;
  padding: .5rem;
  position: absolute;
  top: 0;
  right: 0;
}

@media(min-width : 585px){
  .carousel-productos-item{
    flex: 0 0 33%;
  }
}

@media(min-width : 810px){
  .carousel-productos-item{

    flex: 0 0 25%;
  }
  .carousel-productos-item p{
    font-size: 1rem;
  }
  .button:hover{
    background: white;
    color: #07043a;
    transition: cubic-bezier(0.19, 1, 0.22, 1) .7s;
  }
  .button{
    cursor: pointer;
  }
  .icon-add-cart{
    cursor: pointer;
  }
  .icon-add-cart:hover{
    background: #07043a;
    transition: cubic-bezier(0.19, 1, 0.22, 1) .7s;
  }
}

@media(min-width : 1400px){
  .carousel-productos-item{
    flex: 0 0 16.6%;
  }
  .carousel-productos-item img{
    width: 90%;
  }
  .button{
    display: none;
  }
  .icon-add-cart{
    position: relative;
    width: 80%;
    border-radius: 25px;
    margin-top: .5rem;
  }
}